@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

body {
  position: relative;
  font-family: Sans-Serif;
  margin: auto;
  width: 1600px;
}
   
#centerPanelSlider{
  margin-bottom:100px;
}

footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}

h1 {
  font-size: 48px;
  margin-top: 5px;
  margin-bottom: 0;
}

svg {

}

img {
   padding-top: 25px;
}

#leftPanel {
  height: 1200px;
  width: 200px;
  padding: 15px;
  margin: 0px 5px 0px 5px;

}

.statbox {
  background: #ccc;
  width: 100px;
  margin: 10px;
  padding: 10px;
}

#titleRow {
  margin-left: 5px;

}

.buttonbox {
  width: 800px;
  float: left;
  position: relative;
}

.histogram {
  height: 150px;
}

.brain {
  margin-top: 8px;
}

h1 + h2 {
  margin-top: 0;
}

h2, .mybrain {
  font-weight: 400;
  font-size: 28px;
}

h1, h2, .mybrain {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

/* Active button*/
button:active {
  color: #FFF;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}


.labels {
    font: 8px sans-serif;
    fill: black;
    opacity: .5;
    display:none;
}

.noclicks { pointer-events:none; }

.point {  opacity:.6; }

.arcs {
  opacity:.1;
  stroke: gray;
  stroke-width: 3;
}
.arc, {
  stroke-linejoin: round;
  fill:none;
}
  .arc { }
  .flyer { }
  .flyer:hover { }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

/* Slider */
.slidey {
  height: 10px;
  width: 250px;
}

/* About and welcome page*/
.welcome {
  padding-top: 15px;
  padding-left: 15px;
  margin-left: 15px;
  margin-right: 15px;
  height: 200px;
}

.about {
  padding-top: 5px;
  padding-left: 15px;
  margin-left: 15px;
  margin-right: 15px;

}
